# This is an example configuration file. To use it make a copy of it to project root with name config.env (config.env is added to .gitignore)
# If you introduce an new configuration option then make sure to add it to this configuration file also (with explanation) so others would
# know how to use it.

# Used to configure Zap logging format and level. If it's set to "development" then logging is in DEBUG level and log lines are in more human
# eyefriendly format. If it's set to anything else then it defaults to "production" which logs in INFO level and lines are in JSON format
LOG_ZAP_MODE=development

# If set to true then at the startup, the whole configuration is printed to system out for debugging purposes.
# Be wary of enabling it because there might be secrets in your config which would also be printed.
PRINT_CONFIGURATION_TO_LOGS=true